.login {
  height: 100vh;
  .title {
    margin-top: 5px;
  }

  .contain {
    padding-top: 20px;
    margin: 0px auto auto;
    max-width: 500px;
  }
}

.login-dark {
  height: 100vh;
  background-color: #172a3a;

  .title {
    color: #fff;
  }

  .contain {
    padding-top: 20px;
    margin: 0px auto auto;
    max-width: 500px;
  }

  .subtitle {
    color: #fff;
  }

  .text {
    color: #fff;
  }
}
