.about-dark {
  height: 100vh;
  background-color: #172a3a;
  color: #fff;
  justify-content: center;
  text-align: center;

  padding-top: 10px;

  .link {
    color: lightblue;
  }
}

.about {
  height: 100vh;
  justify-content: center;
  text-align: center;

  padding-top: 10px;

  .link {
    color: lightblue;
  }
}
